/* .pmovie a{
    text-decoration: none;
    color: white;
}
.pmovie img{
    width: 100%;
    height: 80%;
}
.pmovie span{
    font-size: 15px;
    font-weight: bold;
} */

.block_item-movie {
    height: 350px;
    border-radius: 10px;
    background-color: #111129;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.block_item-movie img{
    /* width: 150px;
    height: 200px; */
}

.block_item-movie h1{
    font-size: 20px;
    margin-top: 5px;
}