.homepage_block{
    display: flex;
}
.homepage_block_e{
    width: 78%;
    display: block;
}
/* .banner{
    margin: 20px;
    height: 300px;
    border-radius: 20px;
}
.banner img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
} */

.preview_list {
    display: block;
    /* margin-top: 70px; */
}
.preview_list h2{
    color: white;
    margin-left: 20px;
    margin-top: 20px ;
}
/* .preview_list .plist{
    margin: 20px 10px 20px 20px;
    color: white;
} */

@media screen and (max-width: 1440px) {
    .homepage_block_e{
        width: 72%;
    }
}

@media screen and (max-width: 1080px) {
    .homepage_block_e{
        width: 65%;
        transition: all .7s linear; 
    }
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.7s ease;
}

.navbar.open {
    width: 250px;
}

.navbar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar .logo-details .icon {
    opacity: 0;
    transition: all 0.7s ease;
}

.navbar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.7s ease;
}

.navbar.open .logo-details .icon,
.navbar.open .logo-details .logo_name {
    opacity: 1;
}

.navbar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 23px;
    transition: all 0.7s ease;
    text-align: center;
    cursor: pointer;
}

.navbar.open .logo-details #btn {
    text-align: right;
}

.navbar .logo-details #search {
    /* position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.7s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s ease; */
    display: none;
}

/* .navbar.open .logo-details #search {
    text-align: right;
} */

@media screen and (max-width: 420px) {
    .navbar .logo-details #search {
        display: block;
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        font-size: 23px;
        transition: all 0.7s ease;
        text-align: center;
        cursor: pointer;
    }
    
    .navbar.open .logo-details #search {
        text-align: right;
    }
}

.navbar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.navbar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.navbar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.navbar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.navbar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.navbar.open li .tooltip {
    display: none;
}

.navbar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.navbar li a:hover {
    background: #FFF;
}

.navbar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.navbar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.navbar li a:hover .links_name,
.navbar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.navbar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.navbar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.7s ease;
    overflow: hidden;
}

.navbar.open li.profile {
    width: 250px;
}

.navbar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.navbar li.profile .name,
.navbar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.navbar li.profile .job {
    font-size: 12px;
}

.navbar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.7s ease;
}

.navbar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    /* background: #E4E9F7; */
    min-height: 30px;
    top: 10px;
    left: 100px;
    right: 200px;
    width: calc(100% - 130px);
    /* width: calc(100% - 450px); */
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.7s ease;
    z-index: 2;
}

/* .navbar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 280px);
} */

@media (max-width: 420px) {
    .navbar{
        width: 100%;
        height: 70px;
        transition: all 0.6s ease;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav_list{
        display: none;
    }
    .navbar.open{
        height: 100%;
        transition: all 0.6s ease;
        background-color: rgba(0, 0, 0, 1);
    }
    .navbar.open > .nav_list {
        display: block;
        transition: all 0.6s ease;
    }
    .navbar li .tooltip {
        display: none;
    }
    .home-section{
        left: 0;
        width: 97%;
    }
    .homepage_block_e{
        width: 100%;
    }
}
