.homepage{
    height: 200vh;
    width: calc(100% - 340px);
    position: relative;
    left: 320px;
}

.homepage_block{
    display: flex;
    justify-content: space-around;
}
.homepage_block_e{
    width: 70%;
    display: block;
}
.banner{
    margin: 20px;
    height: 300px;
    /* width: 500px; */
    border-radius: 20px;
}
.banner img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
.preview_list h2{
    color: white;
    margin-left: 20px;
    margin-top: 20px ;
}
.preview_list .plist{
    margin: 20px;
    color: white;
    display: flex;
}
/* .pmovie{
    width: 20%;
    height: 400px;
    margin: 0 10px;
} */
.pmovie a{
    text-decoration: none;
    color: white;
}
.pmovie img{
    width: 100%;
    height: 80%;
}
.pmovie span{
    /* padding-left: 10px; */
    font-size: 15px;
    font-weight: bold;
}
.slider{
    /* width: 100%; */
}